.home{
  background-color: white;
  padding: 170px 0;
  /* overflow-x: hidden; */
  position: relative;
  height: 100%;
  max-height: 221vh;
}

html, body{
  overflow-x: hidden;
}
.img{
  /* top: 100%; */
  position: inherit;
  max-width: 100%;
  z-index: 2;
  max-height: 100%;
  filter: brightness(75%);
  object-fit: cover;

}





.container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: -80px;
}

.item-text{
  margin-top: 378px !important;
  position: absolute;
  z-index: 13;
  color: #ffffff;
  font-family: 'Birthstone';
  font-size: 50px;
}

@media only screen and (max-device-width: 480px){
  .item-text{
    margin-top: 278px;
    position: absolute;
    z-index: 13;
    color: #ffffff;
    font-family: 'Birthstone';
    font-size: 32px;
  }

 
  
}

@media (max-width: 900px){
  .home{
    background-color: white;
    padding: 200px 0;
    /* overflow-x: hidden; */
    position: relative;
    height: 100%;
    max-height: 0vh;
    margin-top: -43px;
  }

  .item-text{
    margin-top: 278px !important;
    position: absolute;
    z-index: 13;
    color: #ffffff;
    font-family: 'Birthstone';
    font-size: 32px;
  }
  .img{
    /* top: 100%; */
    position: inherit;
    max-width: 100%;
    z-index: 2;
    max-height: 100%;
    filter: brightness(75%);
    object-fit: cover;
    height: 545px;
  
  }

 
  
}
.item-img{
  z-index: 3;
}

.text-home{
  text-align: center;
  z-index: 3;
  font-weight: 500;
  /* margin-top: 300px; */

}


/* //fade in left */

@-webkit-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-10px);
      -moz-transform: translatex(-10px);
      -o-transform: translatex(-10px);
      transform: translatex(-10px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
      opacity:0;
      -webkit-transform: translatex(-100px);
      -moz-transform: translatex(-100px);
      -o-transform: translatex(-100px);
      transform: translatex(-100px);
  }
  to {
      opacity:1;
      -webkit-transform: translatex(0);
      -moz-transform: translatex(0);
      -o-transform: translatex(0);
      transform: translatex(0);
  }
}
.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}


/* fade in right */

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
  }
}



/* body {background: #222;} */

