@import "react-slideshow-image/dist/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Explora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Irish+Grover&family=Teko:wght@300&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Cormorant+Garamond:wght@300&family=Irish+Grover&family=Teko:wght@300&family=Zen+Kurenaido&display=swap');
.fill-window {
    position: absolute;
    left: 0;
    width: 100%;
    overflow-x: hidden;
}